<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard Assignment - New</title>
</head>
<body>
    <h1>New Page!</h1>
    <form action="/" method="POST">
        Name: <input type="text" name="name">
        Weight: <input type="text" name="weight">
        Color: <input type="text" name="color">
        <input type="submit" value="Add new dog!">
    </form>
</body>
</html>